/* ELEMENT'S STYLES */
*{
  margin:0; padding:0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #444;
  box-sizing: border-box;
}
body{
  background-color: #f8f8f8;
}
h1{ font-size: 30px; font-weight: bold; margin: 10px; }
h2{ font-size: 25px; font-weight: bold; margin: 10px; }
h3{ font-size: 25px; }
h4{ font-size: 20px; font-weight: bold;}
h5{ font-size: 20px; }
a{
  color: #6495ed;
  text-decoration: none;
}
li { display: block; }
/* USEFULL CLASSES */
.center-text{ text-align: center;}
.wrapper{
  margin: 4% auto;
  width: 960px;
}
.rounded-border {
  border: 3px solid #aaa;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

.half-float { float: left; width: 50%; }
.half-inline { display: inline-block; width: 48%; }
.float-right { float: right; }
/* COMMON STYLES */
#main{
  background-color: white;
  padding: 15px;
  min-height: 300px;
}
#credits{
  background-color: white;
  padding: 10px 15px;
}
